@import "font";
@import "base";

@import "component";
@import "layout";

$primary-light-color: #67c3f3;
$primary-dark-color: #5a98f2;
$white: hsl(0, 50, 100);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
